
:root{
    --bg: #EAD2A8;
    --white: #ffffff;
    --black: #000;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #ffffff; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #000; 
  }

/* Balise du code */

 

h1{
    color: var(--black);
    text-align: center;
    text-decoration: none;
    padding-top: 200px;
    padding-bottom: 100px;
    align-items: center;
    font-size: 75px;
    text-transform: uppercase;
}

h2, h3, h4{
    color: var(--black);
    text-decoration: none;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

p {
    color: var(--black);
    text-decoration: none;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}


/* NAVBAR */

.navbar {
    display: flex;
    text-decoration: none;
    background-color: var(--bg);
    width: 100%;
    border-top-style: solid;
    border-top-color: var(--black);
    border-bottom-style: solid;
    border-bottom-color: var(--black);
    justify-content: space-between;
    margin: auto;
    padding: auto;
    position: fixed;
    z-index: 100;
    top: 0;
    left:0; right: 0;
}   
  
  
.navbar a {
  color: var(--white);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;

}
  
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f5f5dc;
  animation-delay: 30ms;
}

.border-margin-img img{
    width: 700px;
    height: 600px;
    padding-left: 200px;
    border-width: 0;
}




















/* COPYRIGHT */

.footer{
  padding: 10px 20px;
  background: #EAD2A8;
  color: black;
  text-align: center;
}
